.quiz-page {
    display: flex;
    flex-direction: column;
    padding-block: 77px;
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
}

.quiz-actions {
    display: flex;
    gap: 20px;
    align-self: flex-start;
    margin-left: 30px;
}

.next-btn, .skip-btn {
    border-radius: 8px;
    padding: 8px 48px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #B92B5D;
    cursor: pointer;
}

.next-btn:hover {
    background-color: #A8244E;
}

.skip-btn {
    background-color: unset;
    color: #373052;
    font-size: 20px;
    width: auto;
}

.skip-btn:hover {
    background-color: #F7F7AF;
}

.next-button-disabled {
    cursor: not-allowed;
    background-color: #B92B5D;
    color: #FFFFFF;
    padding: 8px 48px;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    opacity: 40%;
}

@media (max-width: 768px) {
    .quiz-page {
        padding-inline: 18px;
    }

    .quiz-actions {
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
    }

    .next-btn, .skip-btn {
        height: 52px;
        width: calc(50% - 10px);
        padding: 8px 24px;
    }

    .skip-btn {
        padding: 8px 14px;
    }

    .next-button-disabled {
        height: 52px;
        width: calc(50% - 10px);
    }
}