header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 108px;
    height: 80px;
    border-bottom: 1px solid #D9D9D9;
}

.responsive-logo {
    width: 144px;
    height: 23px;
}

.candidate-profile {
    display: flex;
    align-items: center;
    gap: 14px;
}

.initial-letter {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #373052;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-name {
    color: #373052;
    font-weight: 500;
    font-size: 20px;
}

.exit-action {
    width: 179px;
    height: 46px;
    background-color: #F3F3E9;
    border: 1px solid #B92B5D;
    color: #B92B5D;
    padding: 8px 48px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.exit-action:hover {
    background-color: #A8244E;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    header {
        padding-inline: 18px;
    }
    
    .candidate-profile {
        gap: 8px;
    }

    .initial-letter {
        width: 32px;
        height: 32px;
    }

    .full-name {
        font-size: 14px;
    }

    .exit-action {
        width: 143px;
        height: 52px;
        padding: 8px 24px;
    }
}